<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Latest Release</h2>
    <img src=<%= "/" + cover_album %>  +  width="450px" height="250px">
    <h3><%= name_album %></h3>
    <h4><%= "Artist: " + artist_album %></h4>
    <h4><%= "Release: " + release_date %></h4>
    <p id="p" style="visibility: hidden;"><%= songs %></p>
    <ol id="song-list">
        <% songs.forEach((data) => { %>
                <li><%= data.name_song %>
                    <audio controls="controls">
                        <source type="audio/mp3" src= "<%= "/" + data.song_path_reference %>" >
                      </audio>
                </li>
            <% }) %>
    </ol>
    <a href="/upload">Upload</a>
    <form action="/albumSearch">
        <input name="searchvalue" type="search">
    </form>

    
        
        
    
    
</body>
</html>